
body {
  font-size: 16px;
  background-color: #c84c44;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.header {
  width: 960px;
  background-color: #c84c44;
  float: left;
  height: 100px;
}

.logo {
  float: left;
  width: 100px;
  padding: 10px;
}

.navigation {
  float: left;
  width: 840px;
}

.main-nav {
  width: 800px;
}

.main-nav li {
  float: left;
  list-style-type: none;
  width: 198px;
  text-align: center;
  border-left: 1px solid #a53d36;
  border-right: 1px solid #a53d36;
}

.main-nav li a {
  line-height: 32px;
  text-decoration: none;
  background-color: #8e352e;
  width: 198px;
  display: block;
  color: white;
}

.main-nav li a:hover {
  background-color: #c84c44
}

.content {
  padding: 30px;
  width: 600px;
  float: left;
  background: #fff;
}

.sidebar {
  width: 280px;
  float: left;
  padding: 10px;
  background-color: #a53d36;
}

.footer {
  float: left;
  width: 900px;
  background-color: #8e352e;
  padding: 30px;
  color: white;
}

.footer .a {
  color: white;
}